# Súbory prostredia Python
__pycache__/
*.pyc
Google_wallet_oauth2_JSON_zaloha.txt
konfiguracia_zaloha.txt
secrets.properties
sss-membershipcard-test-451913-2fa710bfeb4e.json
main_window.old

# Priečinky virtuálneho prostredia
.venv/
venv/
env/
test/
dialogs/__pycache__/
install/
model/__pycache__/
views/__pycache__/